<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trabladorr.pepewidget">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".widget.WidgetConfigMedium">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver android:name=".widget.CoinWidgetMedium" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="trabladorr.pepewidget.widget.PEPE_APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/coin_widget_provider_medium"/>
        </receiver>
        <service android:name=".widget.WidgetUpdaterMedium"/>

    </application>

</manifest>
